.HeroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  margin-top: 10%;
  width: 100%;
  height: 100%;
}

.intro {

}

.Hello p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 60px;
  margin: 1px;
}

.line {
  height: 2px;
  width: 400px;
  border-bottom: 1px solid black;
  font-size: 24px;
}

.title p {
  font-family: 'Nexa Light', sans-serif;
}
