@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,700');

@font-face {
  font-family: sans-serif;
  src: local('Nexa Bold'), url(./assets/fonts/Nexa Bold.otf) format('otf');
}

@font-face {
  font-family: sans-serif;
  src: local('Nexa Light'), url(./assets/fonts/Nexa Light.otf) format('otf');
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f5f5f5;
  background-image: url('./assets/svg_background.svg'), url('./assets/asset_background1.jpg');
  background-size: cover, 50%;
  background-position: center, center;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.SlideIn-appear {
  opacity: 0;
}
.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transition: all 1.7s linear;
}
.SlideIn-enter {
    opacity: 0;
}
.SlideIn-enter.SlideIn-enter-active {
    opacity: 1;
    transition: all 1.7s linear 0.4s;
}
.SlideIn-leave {
    opacity: 1.0;
}
.SlideIn-leave.SlideIn-leave-active {
    opacity: 0;
    position: absolute;
    width: 100%;
    transition: all 0.2s linear;
}
